<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJOUTER DES DONNEES D'AUTHENTIFICATION</title>
</head>
<body>
    <form method="POST" style="text-align: center;">
        
        <input id="site" type="text" name="site" value="site">
        <br>
        <input id="id" type="text" name="id" value="identifiant">
        <br>
        <input id="pass" type="text" name="pass" value="mot de passe">
        <br>
        <br>
        <input type="submit" name = "add_data" value ="Ajouter des données d'authetification" method = "POST"></input>
    </form>
</body>
</html>